* { box-sizing: border-box; }

body {
	color: #333;
	font-family: Tahoma, Arial;
	font-size: 16px;
	width: 600px;
	margin: 10px auto;
	background-color: #E6E6FA ;
}

a {
	color: #4B0082;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	width: 500px;
	margin: 0 auto;
	border: 1px solid #696969;
	padding: 20px 40px;
	background-color: white;
}

input[type=text], button {
	color: #696969;
	border: 1px solid #696969;
	background-color: transparent;
	padding: 4px 10px;
}

label, input {
	display: block;
	width: 100%;
}

label, input, button {
	font-size: 16px;
	margin-top: 10px;
}

label, button {
	margin-top: 20px;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

.center {
	text-align: center;
}

.width60 {
	width: 60%;
}

.error {
	color: red;
}

.success {
	color: green;
}